/* For Tablets */
@media all and (max-width: 1000px) {

}

/* For Smartphones */
@media all and (max-width: 670px) {
 
  .header-right {
    display: none;
  }
  
  span.menu-icon {
    display: block;
  }
  
  .facebook {
  margin-bottom: 10px;
}
}